<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="basebaseservice" class="github.io.pedrogao.tinyspring.ioc.BaseBaseService">
        <property type="github.io.pedrogao.tinyspring.ioc.AServiceImpl" name="as" ref="aservice"></property>
    </bean>
    <bean id="aservice" class="github.io.pedrogao.tinyspring.ioc.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
        <property type="github.io.pedrogao.tinyspring.ioc.BaseService" name="ref1" ref="baseservice"/>
    </bean>
    <bean id="baseservice" class="github.io.pedrogao.tinyspring.ioc.BaseService">
        <property type="github.io.pedrogao.tinyspring.ioc.BaseBaseService" name="bbs" ref="basebaseservice"></property>
    </bean>
</beans>